// Logo
.logo {
  height: 3.25rem;
}
// 
// SEARCH
.search {

  &__icon {
    height: 2rem;
    width: 2rem;
  }
}
// 
// USER-NAV
.user-nav {

  &__icon {
    height: 2.25rem;
    width: 2.25rem;
  }
  
  &__avatar {
    height: 3.75rem;
    border-radius: 50%;
  }
}
// 